{% extends 'blog/base.html' %}
  {% block content %}
  <h1>About Page</h1>
    <div class="row">
      <div class="col-md-10">
        {% if getAbout %}

        {% for i in getAbout %}

          <p>{{i.aboutMe}}</p>
          {% for obj in i.follow_me %}
            <p>{{obj}}</p>
          {% endfor %}
          {% for eachOb in i.courses_offered %}
            <p>{{eachOb}}</p>
          {% endfor %}
        {% endfor %}
        {% else %}
          <p>No About Page!</p>
        {% endif %}
      </div>
    </div>
  {% endblock %}