{% extends 'blog/base.html' %}
  {% block content %}
              <h1>Home Page</h1>
      {% if post_dict %}
        {% for post in post_dict%}
        <div class="row">
          <div class="col-md-4">
            <div class="card card-body box">
              <h3 class="card-title post">{{ post.title }}</h3>
              <p class="card-text">{{post.content}}</p>
              <p class="card-text">{{ post.author }}</p>
              <span class="card-text"> {{post.date_posted}} </span>
            </div>
          </div>
        </div>
        <br>
        {% endfor %}
      {% else %}
      <p>No Posts!</p>

      {% endif %}
  {% endblock %}